.user-profile-card {
  margin-top: 50px;
  margin: 25px;
}

.user-profile-card-content {
  margin-left: 50px;
}

.favorite-movies-header {
  margin: 25px;
  margin-left: 50px;
}

.favorite-movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
